* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #F2F3F5;
  color: #666;
}

body, input, textarea, button {
  font: 400 16px "Inter", sans-serif;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}